<!--This code and all its derivatives exclusively belongs to crackit inc-->
<!--Author: Perry Ogwuche  - 8-21-2-2013-->

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="{{STATIC_URL}}login-page.css" rel="stylesheet" type="text/css">
</head>

<body>

 <div class="wrapper" >
 {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Log In" />
<input type="hidden" name="next" value="{{ redirect_field_name }}" />
</form>

<a href="/register/">Register Here</a>

    <div class="top-font"> Crackit Test Registration</div>

    <div class="coming-soon"> COMING SOON </div>

    <div class="mission-statement">
            (Building a community for people to learn and prepare for technical interviews)
    </div>
 </div>


<div class="contact">
    Contact us: crackwithus@gmail.com
</div>

</body>
</html>


