<!--This code and all its derivatives exclusively belongs to crackit inc-->
<!--Author: Perry Ogwuche  - 8-21-2-2013-->

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>



 <div style="background-color: teal; height: 500px;" >

        <div style="color: white; font-size: 35px; font-family: Helvetica Neue, Helvetica, Arial;
        text-align: center; position: relative; top: 50px; font-style: italic;   "> Crackit </div>

    <div style="font-weight: bold;  font-size: 50px; font-family: Helvetica Neue, Helvetica, Arial;  color: white;
    text-align: center; margin-top: 90px;"> COMING SOON </div>
        <div style="color: white; font-size: 20px; font-style: italic; font-family: Helvetica Neue, Helvetica, Arial;
        text-align: center; margin: 0; ">
            (Building a community for people to learn and prepare for technical interviews)</div>

 </div>


<div style="text-align: center; font-weight: bold; font-size: 40px; font-style: italic; color: teal;">
    Contact us: crackwithus@gmail.com
</div>

</body>
</html>